<nav>
  <div class="stars-container"></div>
  <div class="container mx-auto px-6 flex items-center">
    <a href="/" class="logo">
      <img src="/images/starmesh-logo.png" alt="Starmesh" />
    </a>
  </div>
</nav>

<style>
  nav {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #2B2D3E;
    padding: 0 1rem;
  }

  .logo {
    position: relative;
    z-index: 1;
  }

  .logo img {
    height: 40px;
    width: auto;
  }
</style> 